@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <ul>
            <li>
                <div>POCOs, attributes, and queries oh my</div>
                <ul>
                    <li><a href="/api/product/316">select single</a></li>
                    <li><a href="/api/product/?productname=nut">select many</a></li>
                    <li><a href="/api/product/?productname=nut&pagenumber=2&recordcount=2">select many with paging</a></li>
                    <li>Commands - insert, updates, and deletes</li>
                </ul>
            </li>
            <li>
                <div>stored procedure support</div>
                <ul>
                    <li>
                        <a href="/api/employeemanagers?businessentityid=250">Executing</a>
                    </li>
                    <li>
                        http://taylonr.com/getting-a-return-value-from-a-stored-procedure-in-petapoco/
                        <a href="http://kenny-bu.blogspot.com/2012/12/using-petapoco-with-sql-server-stored.html">Using return value (external)</a>
                    </li>
                </ul>
            </li>
            <li>
                <div>Use with a DI container</div>
                <ul>
                    <li><a href="/api/productV2/316">Single</a></li>
                </ul>
            </li>
            <li>
                <div>Other</div>
                <ul>
                    <li><a href="/api/productv3/316">Dynamic POCOs</a></li>
                    <li>private setters</li>
                    <li>varchar vs. nvarchar http://kemahshore.com/blog/2014/02/25/petapoco-named-params/</li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>
